.grow{
  top:8em;
    position: relative;
   
}
.brand img{width:400px;
      height: auto;  
      position: relative;  
      left: 10em;
      top: 4em; 
      
      animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}

.para{
  font-size: 15px;
}
.heda
{
    font-size:xx-large;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.ct2{
 padding-bottom:50px;
 top: 8em;
 position: relative;
 background-color: rgb(16,22,47);
 color:white;
 padding: 40px;
 

}
.hed2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.625rem;
  
 
}
.hrt{
 position: relative;
 bottom:3px;
}

.head2{
  margin-left: 8em;
}

.flow{
  position: relative;
  bottom: 3em;;
}
.hd6{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:600;
  font-size:x-large;
  line-height: 1.5;
}
.par3{
  font-size: 1.4em;
  font-family: 'Times New Roman', Times, serif;
}
.gamut-10b60ap-Box {
  height: 100%;
  width: 100%;
}
.gamut-1sb26gv-Box{
  color:skyblue;
height: 5px;
width: auto;
margin-bottom: 2rem;
margin-top: 1rem;
}

.vids{
  padding-top: 90px;
}




.home-newsletter {
  position: relative;
  top: 4.1em;
  bottom: 8em;
  padding:70spx;
  width: 100%;
  background: #f84e77;

  }

  
  .home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 3; }
  .home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px; }
  .home-newsletter .single .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px; }
  .home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f; }
  .home-newsletter .single .btn {
  min-height: 50px; 
  border-radius: 0 20px 20px 0;
  background: #243c4f;
  color: #fff;
  }
  .nws{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
.single{
  position: relative;
  bottom:4.5em;
}




  header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index:1;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    
    
  }
  .bvt{
    position: relative;
    right:20%;
    color:whitesmoke;
    background-color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:8px;
    border-radius: 10px;
    
  }
  .bvt2{
    left: 20%;
    border-radius: 10px;
    padding: 8px;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(233, 12, 233);
    color: whitesmoke;
  }

